<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cadastro de Motoristas</ion-title>
    <ion-buttons right>
      <button *ngIf="nomeUsuario.administrador" ion-button icon-only (click)="addOrEdit({})">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
    
  <div *ngIf="nomeUsuario.administrador; else elseBlock">
  <ion-list lines>
        <ion-item *ngFor="let item of lista" (click)="addOrEdit(item)" text-wrap>
          <ion-label>
            <ion-icon name="person"> </ion-icon>
            {{ item.nome }} 
          </ion-label>
        </ion-item>
      </ion-list>
  </div>

  <ng-template #elseBlock>

    <ion-list lines>
      <ion-item *ngFor="let item of lista" text-wrap>
        <ion-label>
          <ion-icon name="person"> </ion-icon>
          {{ item.nome }} 
        </ion-label>
      </ion-item>
    </ion-list>

  </ng-template>

<button ion-button block (click)="home()">Home</button>

</ion-content>
