<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Viagem</ion-title>
    <ion-buttons right>
      <button ion-button clear (click)="salvar()">
        Salvar
      </button>
      <button *ngIf="viagem._id" ion-button icon-only>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <!-- Nome do motorista -->
    <ion-item>
      <ion-label floating>Nome do motorista:</ion-label>
      <ion-select [(ngModel)]="viagem.motorista" multiple="true">
        <ion-option *ngFor="let usuario of listaM">
          {{ usuario.nome }}
        </ion-option>
      </ion-select>
      <!-- <ion-input disabled="false" type="text" [(ngModel)]="viagem.motorista"></ion-input> -->
    </ion-item>

    <!-- Data da viagem -->
    <ion-item>
      <ion-label floating>Data da viagem:</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MM YYYY" [(ngModel)]="viagem.dataViagem">
      </ion-datetime>
    </ion-item>

    <!-- Nome do cliente -->
    <ion-item>
      <ion-label floating>Nome do cliente:</ion-label>
      <ion-input type="text" [(ngModel)]="viagem.cliente"></ion-input>
    </ion-item>

    <!-- Nome do destinatário -->
    <ion-item>
      <ion-label floating>Nome do destinatário:</ion-label>
      <ion-input type="text" [(ngModel)]="viagem.destinatario"></ion-input>
    </ion-item>

    <!-- Número da nota fiscal -->
    <ion-item>
      <ion-label floating>Número da nota fiscal:</ion-label>
      <ion-input type="text" [(ngModel)]="viagem.notaFiscal"></ion-input>
    </ion-item>

    <!-- Nome do produto -->
    <ion-item>
      <ion-label floating>Produto:</ion-label>
      <ion-input type="text" [(ngModel)]="viagem.produto"></ion-input>
    </ion-item>

    <!-- Peso da carga -->
    <ion-item>
      <ion-label floating>Peso da carga (kg):</ion-label>
      <ion-input type="number" [(ngModel)]="viagem.pesoCarga"></ion-input>
      <ion-range min="1000" max="50000" step="1" [(ngModel)]="viagem.pesoCarga" color="secondary">
        <ion-label range-left>1000</ion-label>
        <ion-label range-right>50000</ion-label>
      </ion-range>
    </ion-item>

    <!-- Kilometro Inicial -->
    <ion-item>
      <ion-label floating>Km Inicial:</ion-label>
      <ion-input type="number" [(ngModel)]="viagem.kmInicial"></ion-input>
    </ion-item>

    <!-- Kilometro Final -->
    <ion-item>
      <ion-label floating>Km Final:</ion-label>
      <ion-input type="number" [(ngModel)]="viagem.kmFinal"></ion-input>
    </ion-item>

    <!-- Litros de Diesel -->
    <ion-item>
      <ion-label floating>Litros de diesel consumidos:</ion-label>
      <ion-input type="text" [(ngModel)]="viagem.quantidadeLitros"></ion-input>
      <ion-range min="50" max="500" step="0.1" [(ngModel)]="viagem.quantidadeLitros" color="secondary">
        <ion-label range-left>50</ion-label>
        <ion-label range-right>500</ion-label>
      </ion-range>
    </ion-item>

  </ion-list>
</ion-content>
